p{
  text-align: center;
		padding:2%;
		margin: 2%;
    font: normal 500% 'century gothic', arial,sans-serif;
    color:#76767a;
		font-weight: bold;
}
.planet{
  background-color: #5eeb51;
  border: rgb(14, 110, 46) solid 5px;
}

.name_planet{
  text-align: center;
  font: normal 200% 'century gothic', arial,sans-serif;
  font-weight: bold;
}

.name_propety{
  font: normal 180% 'century gothic', arial,sans-serif;
}

.planet:hover {
	color:#759fbb;
	border-color:rgb(6, 54, 6);
}